/*
 ics-web.css
*/

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	overflow-y: scroll;
}

a {
	color: #000000;
}

a:hover {
	color: #009B3A;
}

#wrap {
	margin: 0 auto;
	width: 882px;
}

#header a {
	color: #00000;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
}

.header-multiling {
	float: right;
}

.header-langs {
	display: block;
	height: 27px;
	padding: 0;
	margin-left: 10px;
	margin-right: 0px; /* ne */
}

.header-langs-item {
	display: inline;
	margin: 5px 0 5px 10px; /* ne */
	line-height: 24px;
}

.header-langs-item:before {
	content: " "; 
}


.header-breadcrumbs {
	display: block;
	height: 27px;
	padding: 0;
	margin-left: 0px; /* ne */
}

.header-breadcrumbs-item {
	display: inline;
	margin: 0;
}

.header-breadcrumbs-item:before {
	content: "\0020 \0020 \0020 \00BB \0020"; 
}

.header-breadcrumbs-item-first:before {
	content: " ";
}

.header-breadcrumbs-item-last {
	line-height: 24px;
}

.header-logoarea {
	color: #FFFFFF;
	height: 123px;
}

.header-logoarea-generic {
	background: url('../img/banner-generic.jpg') no-repeat 0 0;
}

.header-logoarea-group {
	background: url('../img/banner-group.jpg') no-repeat 0 0; 
}

.header-logoarea-personal {
	background: url('../img/banner-personal.jpg') no-repeat 0 0;
}

.header-logo {
	margin-top: 25px;
	margin-left: 10px;
	float: left;
}


/* .header-nav-first-level */
.amenu {
	background: url("../img/ui/bg-header-second.gif") repeat-x 0 0; /* ne */
	display: block;
	height: 31px; 
	width: 882px;
	padding: 0px;   
        font-weight: bold; 
}


/* .header-nav-first-level-item */
.amenu-item {
	display: inline;
	list-style: none;
	margin: 0;
}

.amenu-item a:hover {
	background: #009B3A url("../img/ui/bg-header-GREEN.gif") repeat-x 0 0;
	color: #ffffff !important;
}

.amenu-item a {
	font-size: 14px !important;
	height: 31px;                   
	line-height: 32px !important;   
	padding: 0px 7px 0px 7px;  
	float: left;
	display: block;
	background-color: #ebebeb;
	background: url("../img/ui/bg-header-second.gif") repeat-x 0 0;
}

.amenu-item-highlight a {
	background: #009B3A url("../img/ui/bg-header-GREEN.gif") repeat-x 0 0;
	color: #ffffff !important;
}

/* .header-nav-second-level */
.bmenu {
	height: 0px;       
	display: block;
	padding: 0;
/*      font-weight: bold;   */ /* removed by EL 2010-12-04 */ 
}

/* .header-nav-second-level-item */
.bmenu-item {
	float: left;
	list-style: none;
	margin: 0;
        padding-bottom: 5px;  
	padding-top: 5px; /* ne */
}

.bmenu-item a {
	height: 22px;                 
	line-height: 22px !important; 
	padding: 0 7px;
	display: block;
/*	font-size: 13px !important; */ /* tested by EL 2010-12-04 */ 
}

.section {
	margin-top: 27px; 
	font-size: 12px;
	margin-bottom: 18px;
	clear: both;
}

h2 {
	color: #009B3A;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	padding-bottom: 18px;
	padding-top: 3px; /* ne */
	border-top: 9px solid #009B3A;
        overflow: hidden;
}

/* by EL 2010-10-21 */
.amenu-heading {
	margin-top: 9px;
	padding-bottom: 12px !important;
	color: #000000 !important; 
        border-top: 0px !important;
        font-size: 20px;
}

/* added by EL 2015-09-11 */
.amenu-heading-personal {
	margin-top: 9px;
	padding-bottom: 12px !important;
	/* color: #009B3A !important; [is effective] */ 
        border-top: 0px !important;
        /* font-size: 18px [is effective] */
}

/* added by EL 2015-09-11 */
.amenu-heading-generic {
	margin-top: 9px;
	padding-bottom: 12px !important;
	color: #000000 !important;  
        border-top: 0px !important;
        font-size: 20px;
        font-weight: normal !important;
}



/* DO NOT USE [settings by NE 2010-11-19]
.OLD-amenu-extraitem { 
	background-color: #009B3A; 
	color: #FFFFFF; 
	margin-top: 0px !important; 
	padding-bottom: 5px !important; 
	padding-left: 7px !important;
	padding-top: 8px !important; 
}
*/ 

.amenu-extraitem { /* by EL 2010-11-19 */
	background-color: #009B3A; 
	color: #FFFFFF; 
	margin-top: 0px !important; 
        height: 31px !important; 
        line-height: 32px !important; 
	padding-left: 7px !important;

	font-weight: bold !important;
	font-size: 14px !important;
}

h2 a {
	color: #009B3A;
}

h3 {
	color: #009B3A;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
}

h3 a {
	color: #009B3A;
}

h4 {
	color: #009B3A;
	font-size: 12px;
	line-height: 18px;
}

h4 a {
	color: #009B3A;
}

p {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 18px;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.ics-bottom-margin { /* EL */
	margin-bottom: 18px !important; 
}

/* added and removed by EL
.no-bottom-margin {
	margin-bottom: 0px !important; 
}
img { 
	margin-bottom: 18px; 
}
table img { 
	margin-bottom: 0px; 
}
*/

ul {
	display: block;
	list-style-type: disc;
	padding-bottom: 18px;
}

ul li {
	display: list-item;
	list-style: disc;
	margin-left: 2em;
	line-height: 18px;
}

ol {
	display: block;
	list-style-type: decimal;
	padding-bottom: 18px;
}

ol li {
	display: list-item;
	list-style: decimal;
	margin-left: 2em;
	line-height: 18px;
}

ul ul, ol ul { /* EL */
	list-style-type: circle;
	padding-bottom: 2px;
}

ul ul li, ol ul li { /* EL */
	list-style: circle;
}

ol ol, ul ol { /* EL */
	list-style-type: lower-alpha;
	padding-bottom: 2px;
}

ol ol li, ul ol li { /* EL */
	list-style: lower-alpha;
}

dl {
	line-height: 18px;
	margin-bottom: 27px;
}

dt {
	width: 150px;
	float: left;
	font-weight: bold;
}

dd {
	margin-left: 160px;
}

iframe {
	border: 0;
	margin-left: -13px;
	margin-bottom: 18px; 
}

.aside {
	width: 342px;
	border-top: 9px solid #009B3A;
	padding-bottom: 18px;
	padding-left: 36px;
	float: right;
	background-color: #FFFFFF;
}

.aside-picture {
	clear: both;
	padding-top: 9px;
	padding-bottom: 9px; /* EL */
	margin-bottom: 0px; /* EL */
}

/* OLD
#footer {
	color: #918c82;
	padding: 23px 0 45px 0;
    background: url("../img/ui/bg-footer-GRAY-en.gif") no-repeat 0 0;
	clear: both;
}
*/

/* by EL 2010-10-02 */
#footer {
	color: #928B81; 
	padding: 13px 0 45px 0;
	clear: both;
        border-top: 9px solid;
}

/* by EL 2010-12-04 */
#footer p {
        font-size: 12px;
}

/* by NE 2010-11-15 */
.narrow {
	margin-right: 378px;
}
